<% include partials/header2 %>

  <section class="engine">
    <a href="https://mobirise.co/j">how to design your own website for free</a>
  </section>
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">ProjectMontréal</h1>
        <p class="lead">Bienvenue sur Projet Montréal. Première visite ? Inscrivez-vous en quelques clics et commencez à publier vos idées pour rendre votre ville plus efficace ! Envie d’explorer ce qui a déjà été proposé autour de chez vous ? Vous pouvez aller consulter la liste des projets déjà existants et apporter votre opinion ci-dessous.</p>
      </div>
    </div>
  </div>
  <section class="mbr-cards mbr-section mbr-section-nopadding mbr-after-navbar" id="features2-1" data-rv-view="2" style="background-color: rgb(247, 218, 100);">
    <div class="mbr-cards-row row striped">
      <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 160px; padding-bottom: 80px;">
        <div class="container">
          <div class="card cart-block">
            <div class="card-img">
              <span class="mbri-globe mbr-iconfont mbr-iconfont-features2" style="color: rgb(255, 255, 255);"></span>
            </div>
            <div class="card-block">
              <h4 class="card-title">Consulter</h4>
              <h5 class="card-subtitle"></h5>
              <p class="card-text">Consultez les projets créés autour de chez vous et commencez à explorer les proposition de votre quartier !</p>
              <div class="card-btn">
                <a href="/project-list" class="btn btn-white">Consulter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 160px; padding-bottom: 80px;">
        <div class="container">
          <div class="card cart-block">
            <div class="card-img">
              <span class="mbri-file mbr-iconfont mbr-iconfont-features2" style="color: rgb(255, 255, 255);"></span>
            </div>
            <div class="card-block">
              <h4 class="card-title">Publier</h4>
              <h5 class="card-subtitle"></h5>
              <p class="card-text">Vous avez une idée en tête? Une proposition que vous croyez réalisable et bénéfique? Lancez-vous et partager votre idée et lancer une discussion avec vos co-citoyens. </p>
              <div class="card-btn">
                <a href="/project-list/new" class="btn btn-white">Publier</a>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </section>

<% include partials/footer2 %>