<% include partials/header %>
<section id="menu-0" data-rv-view="0">
    
        <nav class="navbar navbar-dropdown">
            <div class="container">
    
                <div class="mbr-table">
                    <div class="mbr-table-cell">
    
                        <div class="navbar-brand">
                            <span class="navbar-logo"><img src="assets/images/iconapp-128x128.jpg" alt="Mobirise"></span>
                            <a class="navbar-caption text-white" href="">SwapSwapMTL</a>
                        </div>
    
                    </div>
                    <div class="mbr-table-cell">
    
                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>
    
                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="">Carte</a></li><li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" href="" data-toggle="dropdown-submenu" aria-expanded="false">Liste</a><div class="dropdown-menu"><a class="dropdown-item" href="">Parcourir les projets</a></div></li><li class="nav-item dropdown open"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="" aria-expanded="true">AIDE</a><div class="dropdown-menu"><a class="dropdown-item" href="">Comment faire ?</a><a class="dropdown-item" href="">Nous contacter</a></div></li></ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>
    
                    </div>
                </div>
    
            </div>
        </nav>
    
    </section>
    
    <section class="engine"><a href="https://mobirise.co/j">how to design your own website for free</a></section><section class="mbr-cards mbr-section mbr-section-nopadding mbr-after-navbar" id="features2-1" data-rv-view="2" style="background-color: rgb(247, 218, 100);">
    
            
    
        <div class="mbr-cards-row row striped">
    
            <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 160px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><span class="mbri-globe mbr-iconfont mbr-iconfont-features2" style="color: rgb(255, 255, 255);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title">Carte</h4>
                            <h5 class="card-subtitle"></h5>
                            <p class="card-text">Consultez les projets créés autour de chez vous et commencez à explorer les proposition de votre quartier !</p>
                            <div class="card-btn"><a href="" class="btn btn-white">Consulter</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 160px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><span class="mbri-file mbr-iconfont mbr-iconfont-features2" style="color: rgb(255, 255, 255);"></span></div>
                        <div class="card-block">
                            <h4 class="card-title">Liste</h4>
                            <h5 class="card-subtitle"></h5>
                            <p class="card-text">Parcourez les projets les plus populaires, ajoutez vos commentaires, apportez votre analyse et aidez ainsi un projets à voir le jour !</p>
                            <div class="card-btn"><a href="" class="btn btn-white">Consulter</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
        </div>
    </section>
    